{
    "extends": ["airbnb-base", "plugin:react/jsx-runtime"],
    "rules": {
      "no-underscore-dangle":["error", {"allow":["_id"]}],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
}

